{% comment %}
  Sticky Add To Cart Bar – product page app block
{% endcomment %}

<div id="sticky-add-to-cart-bar-container"></div>

<script src="{{ app.metafields.sticky_bar.host }}/sticky-bar.js" defer></script>

{% schema %}
{
  "name": "Sticky Add To Cart Bar",
  "target": "section",
  "templates": ["product"],
  "settings": []
}
{% endschema %}
