{% comment %}
Sticky ATC – Attribution Helper
Injected into the theme body
{% endcomment %}

<div
  data-bdm-sticky-atc
  data-shop="{{ shop.permanent_domain }}"
  style="display:none;"
></div>

{% schema %}
{
  "name": "Sticky ATC Helper",
  "target": "body",
  "settings": []
}
{% endschema %}
