{% comment %} Sticky ATC App Block {% endcomment %}

<div id="sticky-atc-bar-app"></div>

<script defer src="{{ 'sticky-atc-bar.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'sticky-atc-bar.css' | asset_url }}">
