{% comment %} Sticky Add to Cart Bar App Block {% endcomment %}

<div>
  {% render 'sticky-atc-bar' %}
</div>

{% schema %}
{
  "name": "Sticky Add to Cart Bar",
  "target": "body",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_on_desktop",
      "label": "Show on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "label": "Show on mobile",
      "default": true
    },
    {
      "type": "text",
      "id": "free_footer_text",
      "label": "Free plan footer text",
      "default": "Powered by Boulder Digital Media"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
