<link rel="stylesheet" href="{{ 'sticky-atc-bar.css' | asset_url }}">
<script src="{{ 'sticky-atc-bar.js' | asset_url }}" defer></script>

<div id="bdm-sticky-atc">
  <div id="bdm-sticky-atc-inner"></div>
</div>

{% schema %}
{
  "name": "Sticky Add To Cart Bar",
  "target": "body",
  "settings": []
}
{% endschema %}
