{% if request.page_type == 'product' %}

<div id="bdm-sticky-atc" aria-hidden="true">
  <div class="bdm-inner">
    <div class="bdm-left">
      <div id="bdm-title"></div>
      <div id="bdm-price"></div>
    </div>

    <div class="bdm-right">
      <select id="bdm-variant"></select>
      <input id="bdm-qty" type="number" min="1" value="1" />
      <button id="bdm-atc">
        {{ block.settings.button_text }}
      </button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{{ 'sticky-atc-bar.css' | asset_url }}">
<script src="{{ 'sticky-atc-bar.js' | asset_url }}" defer></script>

{% endif %}

{% schema %}
{
  "name": "Sticky Add To Cart Bar",
  "target": "body",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Add to cart"
    }
  ]
}
{% endschema %}
